body{
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(k.jpg);
}
header{
    padding-left: 1.5%;
    padding-top: 0.5%;
    display: flex;
}
header ul{
    list-style-type: none;
    margin-left: 40%;
    margin-top: 2%;
}
header li{
    float: left;
}
header li a{
    display: block;
    padding: 10px;
    text-align: center;
    color: black;
}
header li a:visited{
    color: black;
}
header li a:hover{
    box-shadow: 0 0 5px 2px black;
}
header li a:active{
    box-shadow: 0 0 5px 2px tan;
}
h1{
    font-size: 45px;
    font-weight: normal;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
}
h2{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 10px;
}
h2.menu{
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 10px;
    font-weight: normal;
}
h2.menu::before, h2.menu:after{
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 9%;
    height: 1.3px;
    content: '/a0';
    background-color: black;
}
h2.menu:before {
    margin-left: -10%;
    text-align: right;
}
h2.menu:after{
    margin-left: 1%;
}
h3{
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
}
h4{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 40px;
}
hr{
    border: 1px dashed black;
}
address{
    text-align: center;
    font-size: 14px;
}
footer{
    height: 80px;
    width: 100%;
    margin: 0;
}
footer ul{
    height: 50px;
    list-style-type: none;
    text-align: center;
    margin-top: 2%;
    padding-left: 30%;
    padding-right: 30%;
}
footer li{
    display: inline-block;
}
footer li a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    color: black;
    background-color:rgba(231, 189, 135, 0.356);
}
footer li a:visited{
    color: black;
}
footer li a:hover{
    background-color:rgba(231, 189, 135, 0.568);
}
footer li a:active{
    text-decoration: underline;
    color: rgb(95, 67, 49);
}
.header-box{
    width: 310px;
    height: 100px;
    border-radius: 10px;
}
.header-box:visited{
    color: black;
}
.header-box:hover{
    box-shadow: 0 0 25px 5px rgba(128, 128, 128, 0.479);
    background-color: rgba(128, 128, 128, 0.26);
}
.header-box:active{
    box-shadow: 0 0 10px 5px rgba(210, 180, 140, 0.61);
    background-color: rgba(210, 180, 140, 0.61);
}
.sub-box{
    width: 60%;
    float: left;
}
.sub-box2{
    width: 40%;
    float: left;
    height: 100%;
}
.sunflower{
    width: 110px;
    height: 95%;
    margin-top: 5px;
}
.menu-title{
    margin-top: 25px;
}
.menu-box{
    background-image: url(tan.jpg);
    background-size: cover;
    width: 85%;
    height: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 0 0 30px 5px;
}
.categories{
    width: 90%;
    height: 90%;
    margin: auto;
    border: 1px solid transparent;
}
.ind-box{
    width: 95%;
    height: 90%;
    border: 1px;
}
section.items{
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 25px;
}
.price{
    float: right;
}
.contact-header{
    height: 30px;
    margin-top: 15px;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    font-style: italic;
}
.about-header{
    height: 30px;
    margin-top: 7.5%;
    margin-left: 40px;
    font-weight: normal;
    font-size: 25px;
    font-style: italic;
}
.divider-div{
    height: 450px;
    margin-top: 60px;
    background-color: rgba(210, 180, 140, 0.466);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
}
.order-form{
    min-height: 600px;
    overflow: visible;
    margin-top: 60px;
    background-color: rgba(210, 180, 140, 0.466);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.order-header{
    height: 30px;
    margin-top: 3%;
    margin-left: 40px;
    margin-bottom: 4%;
    font-weight: normal;
    font-size: 25px;
    font-style:italic;
    text-decoration: underline;
}
.order-div{
    min-height: 290px;
    overflow: hidden;
}
.order-categ-header{
    height: 30px;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    font-style: normal;
}
.form-sub-left{
    float: left;
    min-width: 340px;
    width: 34%;
    min-height: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 5%;
    text-align: center;
    border-style: outset;
}
.form-sub-right{
    float: left;
    min-width: 340px;
    width: 35%;
    min-height: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 10%;
    text-align: center;
    border-style: outset;
}
.button-box{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.order-sub{
    margin: auto;
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}
.showOrHideButton{
    position: absolute;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: lighter;
    font-size: 13px;
    font-style: italic;
}
.showOrHideButton:hover{
    cursor: pointer;
    display: inline-flex;
}
.itemGroup{
    display: none;
}
.select-items-box{
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    align-content: space-around;
}
.order-item{
    width: fit-content;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 1px;
}
.quantity-input{
    width: 40px;
    padding-left: 10px;
    margin-right: 50px;
}
.minus{
    width: 20px;
    text-align: center;
    border: solid rgb(26, 25, 25) 1px;
}
.plus{
    width: 20px;
    text-align: center;
    border: solid rgb(26, 25, 25) 1px;
}
.quantity{
    width: 30px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 2px;
    align-content: center;
    border: solid rgba(128, 128, 128, 0.322) 1px; 
}
.total-box{
    display: flex;
    justify-content: flex-end;
    margin-left: 8%;
    margin-right: 8%;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#order-total-text{
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    margin-right: 2px;
}
#total-dollar-amount{
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
    margin-right: 8px;
    border: solid thin;
    background-color: rgba(255, 255, 255, 0.623);
}
#checkout-box{
    display: flex;
    justify-content: flex-end;
    margin-left: 8%;
    margin-right: 8%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 15px;
}
#checkout-button{
    width: 190px;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
body.only-pop-up{
    pointer-events: none;
}
body.only-pop-up aside{
    pointer-events: all;
}
#checkout-pop-up{
    display: none;
    position: fixed;
    z-index: 2;
    min-width: 646px;
    height: 194px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 3px black;
    border-radius: 20px;
    background-color: rgba(221, 221, 221, 0.952);
}
#email-label{
    position: absolute;
    left: 10px;
    top: 15px;
}
#email-input{
    position: absolute;
    left: 65px;
    top: 35px;
}
#submit{
    width: 60px;
    font-size: 14px;
    position: absolute;
    right: 81px;
    bottom: 8px;
}
#cancel{
    width: 60px;
    font-size: 14px;
    position: absolute;
    right: 12px;
    bottom: 8px;
}
#grey-out{
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(223, 223, 223, 0.37);
}
.sub-contact-div{
    margin-top: auto;
    margin-bottom: auto;
}
.add-info{
    margin: 10px;
}
.about-p{
    width: 70%;
    margin-left: 5%;
}
