#about-header {
    height: 30px;
    margin: 0 0 0 0;
    font-weight: normal;
    font-size: 28px;
    font-style: italic;
}

#about-paragraph {
    width: 60%;
    min-width: 340px;
    font-size: 18px;
    padding: 50px 0 40px 0;
}