#contact-header{
    height: 30px;
    min-width: 270px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    font-style: italic;
}
#address{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0 30px 0;
    height: 180px;
}
.address-text{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    min-width: 254px;
}
