@font-face {
    font-family: "Lora";
    src: local("../cafe_kansas_fonts/Lora-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

#menu-title {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 10px;
    font-weight: normal;
}

#menu-title::before, #menu-title:after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 9%;
    height: 1.3px;
    content: "/a0";
    background-color: black;
}

#menu-title:before {
    margin-left: -10%;
    text-align: right;
}

#menu-title:after {
    margin-left: 1%;
}

#menu-title-box {
    margin-top: 25px;
    min-width: 280px;
}

#menu-box {
    background-image: url(../cafe_kansas_pics/tan.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    min-width: 273px;
    margin: 30px auto 40px auto;
    box-shadow: 0 0 30px 5px;
}

.product-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 30px 0 30px 0;
}

.product-sub-category {
    width: 95%;
}

.menu-items {
    font-family: "Lora", serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.price {
    float: right;
}