.order-form{
    min-height: 600px;
    overflow: visible;
    margin-top: 5%;
    background-color: rgba(210, 180, 140, 0.466);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.order-header{
    height: 30px;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 25px;
    font-style:italic;
    text-decoration: underline;
}
.order-div{
    min-height: 290px;
    overflow: hidden;
}
.order-categ-header{
    height: 30px;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    font-style: normal;
}
#beverages-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}
#snacks-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}
.form-sub-left{
    min-width: 300px;
    width: 34%;
    min-height: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
    border-style: outset;
}
.form-sub-right{
    min-width: 300px;
    width: 35%;
    min-height: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
    border-style: outset;
}
.button-box{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 3px 10px 0;
}
.order-sub{
    margin: auto;
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}
.showOrHideButton{
    position: absolute;
    right: 1%;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: lighter;
    font-size: 15px;
    font-style: italic;
}
.showOrHideButton:hover{
    cursor: pointer;
    display: inline-flex;
}
.itemGroup{
    display: none;
}
.select-items-box{
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    align-content: space-around;
}
.order-item{
    width: fit-content;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 1px;
}
.quantity-input{
    width: 40px;
    padding-left: 10px;
    margin-right: 50px;
}
.minus{
    width: 20px;
    text-align: center;
    border: solid rgb(26, 25, 25) 1px;
}
.plus{
    width: 20px;
    text-align: center;
    border: solid rgb(26, 25, 25) 1px;
}
.quantity{
    width: 30px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 2px;
    align-content: center;
    border: solid rgba(128, 128, 128, 0.322) 1px; 
}
.total-box{
    display: flex;
    justify-content: flex-end;
    margin-left: 8%;
    margin-right: 8%;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#order-total-text{
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    margin-right: 2px;
}
#total-dollar-amount{
    width: 60px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
    margin-right: 8px;
    border: solid thin;
}
#checkout-box{
    display: flex;
    justify-content: flex-end;
    margin-left: 8%;
    margin-right: 8%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 15px;
}
#checkout-button{
    width: 190px;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.only-pop-up{
    pointer-events: none;
}
#checkout-pop-up{
    pointer-events: all;
}
#checkout-pop-up{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 646px;
    min-width: 222px;
    width: 50%;
    min-height: 290px;
    border: solid 3px black;
    border-radius: 20px;
    background-color: rgba(221, 221, 221, 0.952);
}
#info-note{
    padding: 10px 0 0 10px;
    /* position: absolute;
    left: 10px;
    top: 15px; */
}
#input-fields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
    padding-left: 10px;
}
.input-label-and-field{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 52%;
}
#first-name-label{
    min-width: 95px;
    /* position: absolute;
    left: 15px;
    top: 80px; */
}
#first-name{
    width: 62%;
    /* max-width: 180px; */
    min-width: 180px;
    align-self: flex-end;
    /* position: absolute;
    left: 120px;
    top: 80px; */
}
#last-name-label{
    min-width: 95px;
    /* position: absolute;
    left: 15px;
    top: 110px; */
}
#last-name{
    width: 62%;
    /* max-width: 180px; */
    min-width: 180px;
    align-self: flex-end;
    /* position: absolute;
    left: 120px;
    top: 110px; */
}
#phone-label{
    min-width: 95px;
    /* position: absolute;
    left: 15px;
    top: 140px; */
}
#phone{
    width: 62%;
    /* max-width: 180px; */
    min-width: 180px;
    align-self: flex-end;
    /* position: absolute;
    left: 120px;
    top: 140px; */
}
#total-submit-cancel{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 60px;
    padding: 0 10px 10px 10px;
}
#grand-total-box{
    display: flex;
    /* position: absolute;
    left: 20px;
    bottom: 8px; */
}
#dollar-div{
    text-align: center;
    margin-left: 8px;
    border: solid black 1px;
    height: 18px;
    min-width: 80px;
    background-color: white;
}
#submit-cancel-div{
    margin-left: auto;
    padding: 0 0 0 8px;
    /* margin-top: 8px; */
    /* position: absolute;
    right: 22px;
    bottom: 8px; */
}
#submit{
    width: 60px;
    font-size: 14px;
}
#cancel{
    width: 60px;
    font-size: 14px;
}
#thank-you-pop-up{
    display: none;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 457px;
    height: 300px;
    border: solid 3px black;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
    pointer-events: all;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#exit{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    padding: 0 2px 3px 2px;
}
#exit:hover{
    cursor: pointer;
}
.checkmark{
    display: inline-block;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
}
.checkmark-circle{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #64a0df;
    border-radius: 50px;
    left: 0;
    top: 0;
}
.checkmark-stem{
    position: absolute;
    width: 15px;
    height: 50px;
    background-color: white;
    left: 53px;
    top: 19px;
}
.checkmark-kick{
    position: absolute;
    width: 34px;
    height: 15.1px;
    background-color: white;
    left: 34px;
    top: 54px;
}
#grey-out{
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(223, 223, 223, 0.37);
}