#order-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
    margin-top: 5%;
    background-color: rgba(210, 180, 140, 0.466);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#order-header {
    height: 30px;
    margin: 3% 0 50px 3%;
    font-weight: normal;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
}

.product-category-header {
    height: 30px;
    margin: 25px 0 50px 0;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    font-style: normal;
}

.two-form-tiles {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.form-tile {
    min-width: 300px;
    width: 35%;
    min-height: 50px;
    margin: 15px 0 50px 0;
    text-align: center;
    border-style: outset;
}

.tile-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.tile-title {
    margin: auto;
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}

.tile-show-or-hide {
    position: absolute;
    right: 3%;
    padding: 0 10px 0 10px;
    font-weight: lighter;
    font-size: 15px;
    font-style: italic;
}

.tile-show-or-hide:hover {
    cursor: pointer;
}

.item-options {
    display: none;
}

.select-item-box {
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin: 5px 0 5px 0;
    padding: 10px 0 10px 0;
    font-size: 15px;
}

.order-item {
    margin: 0 0 0 30px;
    padding: 3px 10px 1px 10px;
}

.quantity-input {
    width: 40px;
    padding: 0 0 0 10px;
    margin: 0 50px 0 0;
}

.total-box {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    margin: 0 8% 0 8%;
    padding: 5px 0 5px 0;
}

#order-total-text {
    min-width: 111px;
    padding: 5px;
    margin: auto 2px auto 8px;
}

#total-dollar-amount {
    width: 60px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin: auto 8px auto 2px;
    border: solid thin;
}

#checkout-button-box {
    display: none;
    justify-content: flex-end;
    height: 40px;
    margin: 0 8% 0 8%;
    padding: 8px 0 15px 0;
}

#checkout-button {
    width: 190px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#checkout-button:hover {
    cursor: pointer;
}

.only-pop-up {
    pointer-events: none;
}

#checkout-pop-up {
    pointer-events: all;
}

#checkout-pop-up {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 646px;
    min-width: 222px;
    width: 50%;
    min-height: 290px;
    border: solid 3px black;
    border-radius: 20px;
    background-color: rgba(221, 221, 221, 0.952);
}

#info-note {
    padding: 10px 0 0 10px;
}

#input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
    padding: 0 0 0 10px;
}

.input-label-and-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 52%;
}

#first-name-label {
    min-width: 95px;
}

#first-name {
    width: 62%;
    min-width: 180px;
    align-self: flex-end;
}

#last-name-label {
    min-width: 95px;
}

#last-name {
    width: 62%;
    min-width: 180px;
    align-self: flex-end;
}

#phone-label {
    min-width: 95px;
}

#phone {
    width: 62%;
    min-width: 180px;
    align-self: flex-end;
}

#total-submit-cancel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 90px;
    padding: 0 10px 10px 10px;
}

#grand-total-box {
    display: flex;
}

#dollar-div {
    text-align: center;
    height: 18px;
    min-width: 80px;
    margin: 0 0 0 8px;
    border: solid black 1px;
    background-color: white;
}

#submit-cancel-div {
    margin-left: auto;
    padding: 0 0 0 8px;
}

#submit {
    width: 60px;
    font-size: 14px;
}

#cancel {
    width: 60px;
    font-size: 14px;
}

#thank-you-pop-up {
    display: none;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    min-width: 286px;
    height: 300px;
    border: solid 3px black;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
    pointer-events: all;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#exit {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    padding: 0 2px 3px 2px;
}

#exit:hover {
    cursor: pointer;
}

.checkmark {
    display: inline-block;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
}

.checkmark-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #64a0df;
    border-radius: 50px;
    left: 0;
    top: 0;
}

.checkmark-stem {
    position: absolute;
    width: 15px;
    height: 50px;
    background-color: white;
    left: 53px;
    top: 19px;
}

.checkmark-kick {
    position: absolute;
    width: 34px;
    height: 15.1px;
    background-color: white;
    left: 34px;
    top: 54px;
}

#thanks-message {
    text-align: center;
    padding: 0 10px 0 10px;
}

#grey-out {
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(223, 223, 223, 0.37);
}

@media (max-width: 460px) {
    .total-box {
        align-self: center;
    }
    
    #checkout-button-box {
        align-self: center;
    }

    #thank-you-pop-up {
        left: 231px;
    }
}