@font-face {
    font-family: "Tangerine";
    src: local("../cafe_kansas_fonts/Tangerine-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    height: 100%;
    background:
        linear-gradient(to bottom,
            rgba(128, 181, 250, 0.788) 10%,
            rgba(180, 210, 243, 0.726) 25%,
            rgba(188, 225, 255, 0.74) 50%,
            rgba(180, 210, 243, 0.726) 75%,
            rgba(128, 181, 250, 0.788) 100%);
}

body {
    margin: 0;
    min-width: 460px;
}

/* Header title and navigation */

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5% 1.5% 0 1.5%;
    min-width: 446px;
}

#title-and-logo-box {
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 100px;
}

#title-link:visited {
    color: black;
}

#title-link:hover {
    box-shadow: 0 0 25px 5px rgba(128, 128, 128, 0.479);
    background-color: rgba(128, 128, 128, 0.26);
}

#title-link:active {
    box-shadow: 0 0 10px 5px rgba(210, 180, 140, 0.61);
    background-color: rgba(210, 180, 140, 0.61);
}

#logo-box {
    width: 120px;
    text-align: center;
}

#sunflower {
    width: 110px;
    height: 95%;
    margin-top: 5px;
}

#header-link-list {
    display: flex;
    list-style-type: none;
    padding: 0 20px 0 0;
    margin-bottom: 0;
}

#header-link-list a {
    display: block;
    padding: 10px;
    text-align: center;
    color: black;
}

#header-link-list a:visited {
    color: black;
}

#header-link-list a:hover {
    box-shadow: 0 0 5px 2px black;
}

#header-link-list a:active {
    box-shadow: 0 0 5px 2px tan;
}

/* Alternative menu navigation for smaller screen width */

.menu-btn {
    display: none;
    height: 32px;
    width: 44.8px;
    margin: 25px 30px 0 0;
}

.menu-btn span {
    height: 3px;
    width: 100%;
    background-color: black;
}

/* Footer and footer navigation */

footer {
    margin: 0 0 25px 0;
    height: 80px;
    display: flex;
    justify-content: center;
    min-width: 460px;
}

#footer-links {
    height: 50px;
    list-style-type: none;
    text-align: center;
    margin: 2% 0 0 0;
    padding: 0 20% 0 20%;
    display: flex;
}

#footer-links a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    color: black;
    background-color: rgba(240, 190, 124, 0.596);
}

#footer-links a:visited {
    color: black;
}

#footer-links a:hover {
    background-color: rgba(165, 138, 98, 0.808);
}

#footer-links a:active {
    text-decoration: underline;
    color: rgb(95, 67, 49);
}

/* Aside menu for smaller screen widths */

#side-drawer {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 460px;
    height: 100%;
    background-color: rgb(210, 180, 140);
    z-index: 1;
}

#side-drawer:target {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-drawer header {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    min-width: 460px;
    padding: 0.5% 1.5% 0 1.5%;
}

#side-drawer .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#side-drawer ul {
    list-style: none;
    padding: 0;
}

#side-drawer li {
    margin: 3.125rem;
    font-size: 1.375rem;
    text-align: center;
    min-width: 154px;
}

#side-drawer li a {
    text-decoration: none;
    padding: 10px;
    min-width: 154px;
}

#side-drawer li a:hover {
    box-shadow: 0 0 5px 2px black;
}

#side-drawer li a:active {
    background-color: rgb(189, 163, 130);
}

#side-drawer li a:visited {
    color: black;
}

/* General styles */

h1 {
    font-family: "Tangerine", "serif";
    width: 172px;
    font-weight: 700;
    font-size: 45px;
}

h2 {
    font-family: "Tangerine", "serif";
    font-weight: 700;
    font-size: 52px;
    margin: 0 0 10px;
}

h3 {
    font-family: "Tangerine", "serif";
    font-weight: 700;
    font-size: 45px;
    margin: 20px 0 20px;
}

hr {
    border: 1px dashed black;
}

#tan-divider {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0 30px 0;
    margin: 5% 0 0 0;
    background-color: rgba(210, 180, 140, 0.753);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* Change in header navigation for smaller screen width */

@media (max-width: 790px) {
    header nav {
        display: none;
    }

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}